# ========================= FRONT END =========================

# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.*
/frontend/.yarn/*
!frontend/.yarn/patches
!frontend/.yarn/plugins
!frontend/.yarn/releases
!frontend/.yarn/versions

# testing
/frontend/coverage

# next.js
/frontend/.next/
/frontend/out/

# production
/frontend/build

# misc
/frontend/.DS_Store
/frontend/*.pem

# debug
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
/frontend/.env*

# vercel
/frontend/.vercel

# typescript
/frontend/*.tsbuildinfo
/frontend/next-env.d.ts

# ========================= BACK END =========================

#dependencies
/backend/.phpunit.cache
/backend/node_modules
/backend/vendor

/backend/public/build
/backend/public/hot
/backend/public/storage
/backend/storage/app
/backend/storage/framework
/backend/storage/*.key
/backend/storage/logs
/backend/storage/pail
/backend/bootstrap/cache/*.php
/backend/.env
/backend/.env.*
/backend/.phpactor.json
/backend/.phpunit.result.cache
/backend/Homestead.json
/backend/Homestead.yaml
/backend/npm-debug.log
/backend/yarn-error.log
/backend/auth.json
/backend/.fleet
/backend/.idea
/backend/.nova
/backend/.vscode
/backend/.zed


# ========================= MYSQL =========================

# ========================= NGINX =========================