@import "tailwindcss";
@plugin "tailwindcss-animate";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --breakpoint-sphone: 320px;
  --breakpoint-mphone: 375px;
  --breakpoint-lphone: 425px;
  --breakpoint-tablet: 640px;
  --breakpoint-laptop: 1024px;
}

@layer base {
  :root {
    --background: #f0e9e1;
    --text: #242323;
  }

  .dark {
    --background: #292727;
    --text: #e3dada;
  }

  body {
    background-color: var(--background);
    color: var(--text);
  }
}

* {
  box-sizing: border-box;
}
